#root {
  height: 100%;
  width: 100%;
  text-align: center;
}

.th-data {
  font-weight: 500;
  text-align: left;
  padding-inline: 0.5rem;
  padding-block: 1rem;
}

.tbody-data {
  text-align: left;
  font-weight: 400;
  padding-inline: 0.5rem;
  padding-block: 2rem;
}